/* This fixes an issue with hyperlinks to sections where fixed nav header would conceal text partially */
[id]::before {
    content: '';
    display: block;
    height: 30px;
    margin-top: -30px;
    visibility: hidden;
}