<header>
    <nav class="noprint">
        <ul>
            <li>
                <img style="height: 1.5em;" src="assets/icons/SteamDeck.avif" alt="Steam Deck icon">
            </li>
            <li>
                <img style="height: 1.5em;" src="assets/icons/SteamController.avif" alt="Steam Controller icon">
            </li>
            <li><a href="#principles">Principles</a></li>
            <li><a href="#setup">Setup</a></li>
            <li>
                <a href="#overview">Overview ▾</a>
                <ul>
                    <li><a href="#movement">Movement</a></li>
                    <li><a href="#combat">Combat</a></li>
                    <li><a href="#interface">Interface</a></li>
                    <li><a href="#shortcuts">Shortcuts</a></li>
                    <li><a href="#extensions">Extensions</a></li>
                </ul>
            </li>
            <li class="float-right"><a href="{{ site.github.tar_url }}"><button>Download</button></a></li>
            <li class="float-right"><a href="{{ site.controller_layout }}"><button>Set Layout</button></a></li>
        </ul>
    </nav>

    <h1>{{ site.title }}</h1>
    <h2>{{ site.description }}</h2>

    <p>
        Guild Wars 2 works surprisingly well on the Steam Deck. I created a simple, intuitive controls layout that helps
        both new
        players trying the game for the first time and experienced veterans exploring a new way to play. Most features
        work out
        of the box without additional configuration, and optional tweaks are available to better match the in-game UI.
    </p>

    <p>
        I'm a casual but long-time player with over 12,000 hours in the game, including 2,500 hours played exclusively
        on the
        Steam Deck using this layout. It has been thoroughly tested in all game modes, including high-end PvE with more
        than 100
        raid encounter clears per wing and all CM fractals.
    </p>
</header>