<header>
    <!-- Navigation -->
    <nav class="noprint">
        <ul>
            <li>
                <img style="height: 1.2em;"
                    src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Steam_Deck_favicon.svg">
            </li>
            <li class="float-right sticky"><a onclick="toggleDarkMode(this)">☪</a></li>
            <li><a href="#principles">Principles</a></li>
            <li><a href="#setup">Setup</a></li>
            <li><a href="#overview">Overview ▾</a>
                <ul>
                    <li><a href="#movement">Basic</a></li>
                    <li><a href="#combat">Extra Style</a></li>
                    <li><a href="#interface">Classes</a></li>
                    <li><a href="#shortcuts">Add-Ons</a></li>
                    <li><a href="#extensions">Add-Ons</a></li>
                </ul>
            </li>
            <li class="float-right"><a href="{{ site.github.tar_url }}">Download</a></li>
            <li class="float-right"><a href="{{ site.controller_layout }}">Set Layout</a></li>
        </ul>
    </nav>
    <h1>{{ site.title }}</h1>
    <h2>{{ site.description }}</h2>
    <p>Guild Wars 2 works amazingly well on SteamDeck. I've created simple and intuitive controls layout that should
        facilitate
        completely new players (SteamDeck owners looking for a new, free game to try) as well as experienced veterans
        (seasoned PC
        users open to play on a new device). Most important features of layout work out of the box, without any
        additional
        control modifications! That said, there are some optional features which can be enabled and icons to make it
        consistent with game UI.</p>
    <p>I consider myself a rather casual but veteran player with over 12k hours played since game's release. Out of
        that, last 2k are played exclusively on Steam Deck with use of this layout. It's been personally tested by me in
        all game modes, including high end PvE with over 100 encounter clears per raid wing and all CM fractals.</p>
</header>