<main>
    <section id="principles">
        <h1>Principles</h1>
        <p>Design and implementation of this layout was guided by several princples - listed here in their priority
            order.</p>
        <details>
            <summary>Works with game's default settings</summary>
            <p>New player, first time downloading the client,should be able to load the layout and immediately start
                using it. No manual configuration or options tweaking
                neccesery, layout should be functional and game fully playable.</p>
        </details>
        <details>
            <summary>Optional advanced features trivial to enable</summary>
            <p>Every input bind that game has a control assigned by default is available. For the remaining features,
                where manual setup is needed, a conveniance settings xml is provided to allow for immediate and complete
                installation.</p>
        </details>
        <details>
            <summary>Clean implementation without redundancies</summary>
            <p>All files should be cleaned prior to release - no outdated, unused menus or settings, no temporary or
                work in progress stuff. This makes it easy for user to do their own modifications and extensions.</p>
        </details>
        <details>
            <summary>Follows game's default HUD</summary>
            <p>Game positions elements of its GUI on the left or right side of the screen. This is reflected by layout
                configuration where buttons are assigned correnspondingly.</p>
        </details>
        <details>
            <summary>Space available for growth</summary>
            <p>Game is very much alive and keeps getting new updates, expansions and features. Layout should grow
                alongside and space for implementation of those features needs to be reserved for future use.</p>
        </details>
    </section>
    <section id="setup"></section>
    <section id="description"></section>
    <section id="movement"></section>
    <section id="combat"></section>
    <section id="interface"></section>
    <section id="shortcuts"></section>
    <section id="extensions"></section>
</main>