<main>
    <section id="principles">
        <h1>Principles</h1>
        <p>Design and implementation of this layout was guided by several princples - listed here in their priority
            order.</p>
        <details>
            <summary>Works with game's default settings</summary>
            <p>New player, first time downloading the client,should be able to load the layout and immediately start
                using it. No manual configuration or options tweaking
                neccesery, layout should be functional and game fully playable.</p>
        </details>
        <details>
            <summary>Optional advanced features trivial to enable</summary>
            <p>Every input bind that game has a control assigned by default is available. For the remaining features,
                where manual setup is needed, a conveniance settings xml is provided to allow for immediate and complete
                installation.</p>
        </details>
        <details>
            <summary>Clean implementation without redundancies</summary>
            <p>All files should be cleaned prior to release - no outdated, unused menus or settings, no temporary or
                work in progress stuff. This makes it easy for user to do their own modifications and extensions.</p>
        </details>
        <details>
            <summary>Follows game's default HUD</summary>
            <p>Game positions elements of its GUI on the left or right side of the screen. This is reflected by layout
                configuration where buttons are assigned correnspondingly.</p>
        </details>
        <details>
            <summary>Space available for growth</summary>
            <p>Game is very much alive and keeps getting new updates, expansions and features. Layout should grow
                alongside and space for implementation of those features needs to be reserved for future use.</p>
        </details>
    </section>
    <section id="setup">
        <h1>Setup</h1>
        <p>Before you start setting up the Simple & Intuitive make sure to successfully run the game at least once. This
            will ensure that Steam and Guild Wars 2 create relevant files and directories.</p>
        <p>It should be possible to open Steam's controller configuration for Guild Wars 2 and search Community Layouts
            for "Simple&Intuitive" authored by Vonsh on 14 January 2024. If search yields such entry, its enough to
            apply
            it, but this method reportedly does not always return any results, in which case do the following:</p>
        <ol>
            <li>Switch your Steam Deck to desktop mode: press
                <img src="assets/glyphs/SteamDeck/steamdeck_button_guide.png" alt="icon"
                    style="display:inline; height:1em; vertical-align:baseline;">
                button, select "Power" and "Switch to Desktop".
            </li>
            <li>Open internet browser, paste the following link to address bar:
                steam://controllerconfig/1284210/3338357161/, and press
                enter. A pop-up should appear asking if you want to start application - agreeing will open Steam's Guild
                Wars 2
                Controler Settings - you need to apply this layout.
            </li>
        </ol>
        <p>Press the <code>Set Layout</code> button, which should open Steam window with appropriate layout ready for
            application. Web browser might ask you if <code>xdg-open</code> should be run before hand. If this does not
            happen, either click <a href="{{ site.controller_layout }}">this link</a> or manually type address
            <code>{{ site.controller_layout }}</code> into browser's address bar.
        </p>
    </section>
    <section id="description"></section>
    <section id="movement"></section>
    <section id="combat"></section>
    <section id="interface"></section>
    <section id="shortcuts"></section>
    <section id="extensions"></section>
</main>